body{
    font-family: sans-serif;
    color: #fff;
    background-color: #121212;
    text-align: center;
    text-decoration: none;
}

.navbar{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border: #000;
    border-style: solid;
    padding: 10px;
    margin: 20px;
    background-color: #383838;
    font-family: sans-serif;
    word-spacing: 300px;
}